:root {
	--pColor:#008B8B;
	--bColor:#008080;
	--gColor:#04a5a5;
	--hColor:#ffbe42;
	--dColor:#e89805;
	--tColor:#fefefe;
	--lColor:pink;
	--fColor:#f8f8ff;
	--hSize:40px;
	--fSize:50px;
	--tSize:60px;
	--pPad:10px;
	--tFont:'Unica One', cursive;
	--nFont:'Economica', sans-serif;
}

::-webkit-scrollbar {
	display:none;
}

.ui-loader.ui-corner-all.ui-body-a.ui-loader-default h1 {
	display: none;
}

body {
	width: 100vw;
	margin: 0px;
	padding: 0px;
	font-family: var(--nFont);
}

#tetherHeader {
	position: fixed;
	width: 100vw;
	height: var(--hSize);
	display: none;
}

#tetherBody {
	width: 100vw;
	margin: 0px;
	//padding: var(--hSize) 0px 0px 0px;
	overflow-x: hidden;
	position: absolute;
}

body.minimize #tetherBody {
	
}

#tetherFooter {
	//min-height: 100vh;
	font-size: 50px;
	background-color: darkslategrey;
}

body.minimize #tetherFooter {
	margin-bottom: 100px;
}

#tetherFooter>div {
	text-align: center;
	color: var(--tColor);
	padding: 3px var(--pPad);
	font-size: 30%;
}

#tetherFooter>div button {
	font-size: 130%;
}

#tetherFooter span {
	padding: var(--pPad);
}

#copyright {
	
}

#legalBar {
	
}

#socialBar {
	
}
@media only screen and (min-width: 900px) {
	.music #tetherBody {
		width: calc(100vw - 500px);
		left: 500px;
	}
	body.minimize.music #tetherBody {
		width: 100vw;
		left: 0px;
	}
}
