:root {
	--pColor:#008B8B;
	--bColor:#008080;
	--gColor:#04a5a5;
	--hColor:#ffbe42;
	--dColor:#e89805;
	--tColor:#fefefe;
	--lColor:pink;
	--fColor:#f8f8ff;
	--hSize:40px;
	--fSize:50px;
	--tSize:60px;
	--pPad:10px;
	--tFont:'Unica One', cursive;
	--nFont:'Economica', sans-serif;
}

::-webkit-scrollbar {
	display:none;
}

.ui-loader.ui-corner-all.ui-body-a.ui-loader-default h1 {
	display: none;
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0px;
	padding: 0px;
	font-family: var(--nFont);
}

#tetherHeader {
	position: fixed;
	width: 100vw;
	height: var(--hSize);
	display: none;
}

#tetherBody {
	width: 100vw;
	margin: 0px;
	//padding: var(--hSize) 0px 0px 0px;
}

#tetherFooter {
	
}
